@import '_font.css';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

main {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #A1E3D4;
    padding: 15px 25px;
}

main > div:first-child {
    position: relative;
    height: 70px;
}

main > div:first-child > img {
    width: auto;
    height: 100%;
    aspect-ratio: 17/7;
    object-fit: contain;
    object-position: center;
}

main > div:last-child {
    display: flex;
    align-items: center;
}

main > div:last-child > p {
    max-width: 400px;
    font-size: 14px;
    color: #576961;
    font-weight: 600;
    line-height: 120%;
    text-align: right;
    margin-right: 50px;
}

.mobile {
    display: none;
}

.close {
    position: relative;
    width: 25px;
    height: 25px;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    pointer-events: auto;
}

.close:hover > div {
    background: white;
}

.close > div {
    position: absolute;
    width: 25px;
    height: 2px;
    left: 50%;
    top: 50%;
    transform-origin: 50% 50%;
    background: #576961;
    transition: all 250ms;
}

.close > div:first-child {
    transform: translate(-50%,-50%) rotate(-45deg);
}

.close > div:last-child {
    transform: translate(-50%,-50%) rotate(45deg);
}

@media screen and (max-width: 639px) {
    main {
        display: flex;
        flex-direction: column;
        padding: 25px;
    }

    main > div:first-child {
        display: flex;
        justify-content: space-between;
    }

    main > div:first-child > img {
        height: 52px;
    }

    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }

    main > div:last-child > p {
        font-size: 12.5px;
        font-style: normal;
        font-weight: 600;
        line-height: 18px;
        max-width: none;
        text-align: start;
    }
}